<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static '/css/apropos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>DATACUISTOT</title>
</head>

<body>

<header>
       <nav>
         <input type="checkbox" id="check">

         <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
         </label>

         <label class="logo">DATACUISTOT
         <img src="{% static '/css/img/logo.png' %}" height="65px" width="65px">
         </label>



            <ul>
               <li><a href="/">FindYourFood</a></li>
               <li><a href="../connexion">Connexion</a></li>
                <li><a href="../inscription">Inscription</a></li>
                <li><a class="active" href="">A propos</a></li>
            </ul>
      </nav>
   </header>

<main>


    <div class="section1">

        <img src="{% static '/css/img/svg_section1.svg' %}" height="300px" width="350px">

      <div>
          <p> La protection de l'environnement est  </p> </br>
          <p> Un sujet primordial dans notre scoiété.</p> </br>
          <p> L'agriculture représentant 24% de la pollution mondiale, </p> </br>
          <p> Il est nécessaire d'agir à notre portée. </p> </br>
          <p> Datacuistot vous propose des repas sains et écologiques. </p> </br>
      </div>

   </div>

   <div class="section2">

        <img src="{% static '/css/img/svg_section2.svg' %}" height="300px" width="350px">

      <div>
          <p> Avec l'aide de notre site combiné</p> </br>
          <p> D'un programme machine learning,</p> </br>
          <p> Notre groupe datacuistot composé</p> </br>
          <p> D'ingénieurs passionnés et qualififiés,  </p> </br>
          <p> Vous propose des plats diversifiés et environnementaux</p> </br>
          <p> Avec datacuistot, manger responsable 😉.</p> </br>

      </div>

   </div>



   <!-- Section de choix des boutons -->




</main>

<!-- Footer -->

<footer class = "footer" id="NosCoordonnées">
    <div class = "container">
        <div class="row">

            <div class="footer-col">
                <h4>Contactez-nous</h4>
                <div class="socials-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>

            <div class="footer-col">
                <h4>A propos</h4>
                <ul>
                    <li><a href="#">Créateurs du site</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>



</body>
</html>